h3.window-manifest-title, a.thumbnails-option {
	display: none;
}

#metaDataPanel td p {
	max-width: 380px;
}

#metaDataPanel tr.transcription td, 
#metaDataPanel tr.transcription td p {
	width: 100%;
	max-width: 100%;
}